<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ADV Shop</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-white flex flex-col justify-center items-center h-screen">
<h3 class="text-[#242424] text-4xl text-center font-bold transition-colors duration-300 hover:text-[#636363]">Welcome.</h3>
<p class=" text-gray-600 mt-2">
    <span class="text-[#242424]">Navigasi ke</span> <a href="product/list" class="text-[#767676] hover:underline">product list</a>
</p>
</body>
</html>